typing
pyttsx3
gtts 
wheel
playsound
wikipedia
winshell
pyjokes
pytesseract
wolframalpha
PyAudio
speechrecognition
numpy
matplotlib
tkinter
warnings
os
datetime
calendar
random
webbrowser
ctypes
subprocess
smtplib
requests
json
braille
opencv-python
pytesseract
sys

